/* _text.scss */

//*============TEXT STYLING============*/
//Sets text by type
//ex: @include setfont(menu); for menu text
//MUST add each font to head.php like this: 
//		<!--Quicksand - text-->
//		<link href='http://fonts.googleapis.com/css?family=Quicksand:400,700' rel='stylesheet' type='text/css'>
@mixin setfont($type) {
	//Headline
	@if $type == headline {
		font: {
			family: 'Raleway', sans-serif;
		}
	}
	@if $type == text {
		font: {
			family: 'Quicksand', sans-serif;
		}
	}
	@if $type == menu {
		font: {
			family: 'Josefin Sans', sans-serif;
		}
	}
}

body {
	@include setfont(text);
	font-size: 1em;
	color: $text;
}

ul, p {
	line-height:150%;
	text-align:justify;
}

p {
	margin-bottom: 1em;
}

a, a:visited {
	color: $accent;
	&:hover, &:focus, &:active {
	}
}

i, em {
	font-style:italic;
}

strong {
	font-weight:bold;
}

.oops {
	color: red; 
}

//*============END TEXT STYLING============*/